body {
  padding-top: 60px;
  background: url('stripes.png') repeat-x fixed;
}
.new-date {
  color: #ddd;
  text-align: right;
  text-shadow: -1px -1px 2px #f6f6f6;
}

.item-title {
  padding: 5px 10px;
  background: #eee;
  text-shadow: 1px 1px 2px #f6f6f6;
  border-radius: 3px;
}
.item-title a {
  color: #404040;
}

.item-title small {
  color: #aaa;
}
article .body, article footer {
  margin: 0 0 0 40px;
  padding: 10px;
}

article footer {
  margin-top: 15px;
  color: #999;
}
p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 16px;
  color: #505050;
}